<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" *ngIf="isLoggedIn() == false">
    <label for="userName">Name</label>
    <input type="text" name="username" ngModel required>
    <label for="password">Password</label>
    <input type="password" name="password" ngModel required>
    <button>Login</button>
</form>
<br />
<div>
    <p>Don't have an account?</p>
    <!-- <a routerLink="/createuser"> Click Here</a> -->
    <p> <a routerLink="/createuser"> Click Here</a> to create one!</p>
</div>

<div *ngIf="isLoggedIn()">
    <h1>Are you sure you want to log out?</h1>
    <button (click)="logout()">Logout</button>
</div>