/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: white;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
  background-color: #555555;
}

.ticket{
  border:black 1px solid;
  background-color: #777777;
}

.icon{
  cursor: pointer;
}

.icon:hover{
  color:white;
}

.sticky {
  position: fixed;
  margin-top: 0;
  width: 100%
}

.titles {
  font-family: 'Nixie One', cursive;
  font-family: 'Noto Serif', serif;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: bold;
}