

<div>
    <h3>{{ result.title }}</h3>
    <!-- <p>{{ result.user.name }}</p> -->
    <p>{{ result.question }}</p>
    <br />
    <div *ngFor="let r of responses">
        <p>{{r.responder}} {{r.response1}}</p>
        <button (click)="DeleteResponse(r.id)"> Delete </button>        
    </div>  
        <form class="form" #addForm="ngForm" (ngSubmit)="ResolveTicket(result.id, addForm)">
            Answer: <input type="text" name="answer" ngModel />
            <button>Submit</button>
        </form>
    
</div>


