

<div>
    <div class="ticket">
        <h3 class="titles">{{ result.title }}</h3>
        <!-- <p>{{ result.user.name }}</p> -->
        <p>{{ result.question }}</p>
        <i (click)="BookmarkTicket(result.id)" class="fa-solid fa-star icon"></i>
    </div>
    <br />
    <br>
        <form class="form" #addForm="ngForm" (ngSubmit)="ResolveTicket(result.id, addForm)">
            <h4 class="titles">Answer:</h4>
            <textarea name="answer" ngModel class="col-sm-10" cols="30" rows="3"></textarea>
            <input type="submit" value="Submit" class="col-sm-3 offset-12"/>
        </form>
        <br>
        <h3 class="titles">Answers</h3>
        <div class="ticket" *ngFor="let r of responses">
            <p>User: {{ r.responder!.name }} </p>
            <p> {{ r.response1 }} </p>
            <i (click)="DeleteResponse(r.id)" class="fa-solid fa-trash-can icon"></i>        
        </div>  
    
</div>


